.UploadFile {
	border: 1px dashed #e4e7ec;
	border-radius: 8px;
	padding: 1rem 1.5rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.25rem;
	position: relative;
	transition: all 0.2s;

	&__icon {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: #f2f4f7;
		border: 6px solid #f9fafb;

		display: grid;
		place-items: center;
		margin-bottom: 0.5rem;
	}

	p {
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
		color: #667085;
		text-align: center;
		span {
			color: #328be0;
			cursor: pointer;
		}
	}

	input[type="file"] {
		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;
		width: 100%;
		height: 100%;
		opacity: 0;
	}

	&--dragging {
		background-color: #e4e7ec;
	}
}
