.MidCardLayout {
	&__titleNav {
		margin-top: 85px;
	}

	&__body {
		background: #ffffff;
		padding: 42px 20vw;
		padding-right: 18vw;
		.WhiteCard {
			background: #ffffff;

			box-shadow: -5px -5px 100px -100px rgba(0, 0, 0, 0.03),
				5px 5px 100px 10px rgba(0, 0, 0, 0.03);
			border-radius: 12px;

			padding-top: 48px;
			padding-left: 36px;
			padding-right: 43px;
			padding-bottom: 74px;
		}
	}
}

@media (max-width: 768px) {
	.MidCardLayout {
		&__titleNav {
			margin-top: 85px;
		}

		&__body {
			background: #ffffff;
			padding: 0;
			padding-bottom: 32px;
			.WhiteCard {
				background: #ffffff;

				box-shadow: -5px -5px 100px -100px rgba(0, 0, 0, 0.03),
					5px 5px 100px 10px rgba(0, 0, 0, 0.03);
				border-radius: 12px;

				padding: 32px 20px;
			}
		}
	}
}
