.CampaignDetails {
	padding-bottom: 41px;
	&__hero {
		margin: 41px 0;
		margin-bottom: 12px;
	}

	&__rest {
		padding: 0 5.83vw;
		padding-left: calc(5.83vw + 40px);

		display: grid;
		grid-template-columns: 63.26fr 36.74fr;
		gap: 26px;

		.sideCards {
			padding-top: 1rem;
			display: flex;
			flex-direction: column;
			align-items: stretch;
			gap: 27px;
		}
	}
}

@media (max-width: 768px) {
	.CampaignDetails {
		padding-bottom: 41px;
		&__hero {
			margin: 0;
			margin-bottom: 12px;
		}

		&__rest {
			padding-left: 20px;
			padding-right: 20px;

			display: flex;
			flex-direction: column;
			align-items: stretch;
			gap: 1.5rem;

			.sideCards {
				padding-top: 1rem;
				display: flex;
				flex-direction: column;
				align-items: stretch;
				gap: 27px;
			}
		}
	}
}
