.TitleNav {
	padding: 48px 5.833vw;
	background: #fafcff;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	&__title {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0.75rem;

		h3 {
			font-weight: 600;
		}
		svg {
			display: none;
		}
	}

	&__breadCrumb {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1rem;

		.crumbItem {
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			color: #777e91;
			cursor: pointer;

			&--current {
				font-weight: 700;
				color: #353945;
				cursor: default;
			}
		}
	}
}

@media (max-width: 768px) {
	.TitleNav {
		padding: 34px 20px;
		background: #ffffff;

		&__title {
			svg {
				display: inline;
				cursor: pointer;
			}
		}

		&__rightSide {
			display: none;
		}
	}
}
