.PledgeCard {
	background: #ffffff;
	border: 1px solid #e6e8ec;
	box-shadow: -4.76808px -4.76808px 95.3616px -95.3616px rgba(0, 0, 0, 0.03);
	border-radius: 12px;

	padding: 13px 14px;

	&__tag {
		margin-bottom: 0.5rem;

		p {
			font-weight: 500;
			font-size: 10px;
			line-height: 18px;
			padding: 2px 8px;
			border-radius: 16px;
			width: max-content;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 16px;
		line-height: 21px;
		color: #121528;
		margin-bottom: 0.5rem;
	}

	&__spaceBetween {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		font-weight: 500;
		font-size: 10px;
		line-height: 21px;
		color: #71737e;
	}

	&__amountRaised {
		font-weight: 600;

		span {
			font-weight: 700;
			color: #121528;
		}
	}

	&__time {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 4.75px;
	}

	&__progress {
		margin-bottom: 0.5rem;
		margin-top: 11px;
	}

	&__buttons {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 12.95px;
		margin-top: 19px;

		&__button {
			font-weight: 700;
			font-size: 13.7584px;
			line-height: 13px;
			font-family: "Nunito Sans";
			padding: 12.95px 20px;

			border-radius: 72.8384px;
			background: linear-gradient(90deg, #1b75bc 25.1%, #29abe2 81.05%);
			border: 0;
			color: #fcfcfd;
			cursor: pointer;

			&--outline {
				background: transparent;
				color: #328be0;
			}
		}
	}
}
